<!DOCTYPE html>
<html>

<head>
    <title>ACE Config</title>

    <!-- ADSENSE -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-478039175540164"
    crossorigin="anonymous"></script>

    <style>

<style>
body {
    background:#020617;
    color:white;
    font-family:sans-serif;
    padding:20px;
}

input, button {
    padding:10px;
    margin:10px 0;
    width: 250px;
    border-radius: 6px;
    border: none;
}

input {
    background:#1a1f35;
    color:white;
}

button {
    background:#00c6ff;
    cursor:pointer;
}

button:hover {
    background:#00a8e0;
}

a {
    color:#00c6ff;
    text-decoration:none;
}
</style>
</head>

<body>

<h2>Rule Config</h2>

<a href="/dashboard">← Back to Dashboard</a>


<form method="POST" action="/config">
    <label>High Amount</label>
    <input type="number" name="high_amount" value="{{ cfg.high_amount }}">

    <label>Rapid Tx Count</label>
    <input type="number" name="rapid_tx" value="{{ cfg.rapid_tx }}">

    <button type="submit">Save</button>
</form>

</body>
</html>
